{% extends 'store/main.html' %}
{% load static %}
{% block content %}


{% for product in products %}


<div class="col-lg-4 ">
    <img class="thumbnail"  src={{product.imageURL}} alt="no img">
    <div class="box-element product">
        <h6><strong>{{product.name}}</strong></h6>
        <hr>

        <div style="display: flex; justify-content: space-evenly;">
            <!-- <form action="/addItem/{{product.id}}" method="post" > -->
                <!-- {% csrf_token %} -->
                
                <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                </form>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="float: right; "><strong><i class="fa-solid fa-indian-rupee-sign"></i>{{product.price}}</strong></h4>
        </div>

    </div>
</div>

{% endfor %}
{% endblock content %}